@import url("styles/reset.css");
@import url("header.css");
@import url("profile.css");

body{
    box-sizing: border-box;
    background-color:rgb(102, 84, 107);
    font-family: 'Quicksand';
    color: #000000;
    /*overflow: hidden*/

}

main{
    display:flex;
    flex-direction: column;
    align-items: center;

}