.title__div{
    display:flex;  
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.title__profile{
    margin-left: 70px;
    padding: 10px;
    height:auto;
    width:20%;
    clip-path: circle(50%)
    
}

.title__container{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 0px 30px;
    text-align: justify;
    gap:2rem;
}

.title__bio{
    font-weight: bold;
    font-size: 40px;
}

.title__subsection{
    font-size: 25px ;
}

.boton_cv{
    background-color: rgb(181, 154, 206);
    border-radius: 20px;
    width: 200px;
    height: 30px;
}

.boton_cv a{
    font-weight: bold;
}

.title__network{
    display:flex;
    gap: 10rem;
}

.title__network__item{
    font-weight: bold;
    font-size: 20px;
    color:black;
}

