.title__div{
    display:flex;  
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.title__profile{
    margin-left: 70px;
    padding: 10px;
    height:auto;
    width:40%;
    clip-path: circle(50%)
    
}

.title__container{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 0px 30px;

}